/* GENERAL */
 
* {
  font-family: sans-serif;

}

body, html {
  background-color: rgb(128, 142, 204);
}

body {
  display: flex;
  margin: 0px;
}

/* SIDEBAR */

aside {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: auto;
  width: 25%;
  margin: none;
}

header {
  border-radius: 75px;
  text-align: center;
  margin: 10px 10px 80px 10px;
  background-color: navy;
  color: #ccdbfd;
  padding: 15px;
}

h1 {
  font-size: 2.5em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#header-text {
  font-size: 0.8em;
}

h1, 
h2 {
  margin: 0;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: end;
}

nav > button {
  border: none;
  margin-bottom: 20px;
  background-color: navy;
  color: #ccdbfd;
  width: 65%;
  text-align: center;
  border-radius: 10px 0px 0px 10px;
  padding: 20px;
  cursor: pointer;
}

nav > button:hover {
  background-color: darkgrey;
  color: white;
  transform: translateX(5px);
}

.active-nav {
  background-color: #001c55;
}

/* MAIN */

main {
  padding: 10px;
  width: 75%;
  background-color: rgba(85, 101, 118, 0.545);
}

#add-new-button {
  border: none;
  border-radius: 3px;
  background-color: navy;
  color: #ccdbfd;
}

#add-new-button:hover {
  background-color: darkgrey;
  color: white;
  transform: translateX(5px);
}

#showing-text {
  font-size: 1.3em;
  color: navy;
}

form {
  display: flex;
}

.merchant {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  background-color: #ccdbfd;
  justify-content: space-evenly;
  border-radius: 5px; 
  box-shadow: 5px 5px navy;
  margin: 10px;
  padding: 5px;
}

.view-merchant-items {
  color: #ccdbfd;
  background-color: navy;
}

.edit-merchant {
  color: #ccdbfd;
  background-color: navy;
}

.submit-merchant-edits {
  color: #ccdbfd;
  background-color: navy;
}

.discard-merchant-edits {
  color: #ccdbfd;
  background-color: navy;
}

.delete-merchant {  
  color: #ccdbfd;
  background-color: navy;
}

.view {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-evenly;
  margin: 10px;
  padding: 20px;
  gap: 40px;
  flex-wrap: wrap;
}

.item {
  display: flex;
  width: 25%;
  color: #001c55;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(128, 142, 204);
  border-radius: 15px;
  margin: 20px;
  box-shadow: 5px 5px navy;
}
.item-name {
  font-size: 2em;
  color: #001c55;
  font-weight: bold;
  text-align: center;
}

.item-description {
  font-size: 0.8em;
  text-wrap: balance;
  text-align: center;
  color: #ccdbfd;
  font-weight: 400;
  margin-bottom: 10px;
}

.item-price {
  text-align: center;
  font-weight: bold;
  color: #ccdbfd;
  margin-bottom: 5px;
}

.merchant-name-in-item {
  padding: 10px 5px ;
  color: #001c55;
  text-align: center;
  align-items: center;
}

.view-merchant-items:hover {
  background-color: darkgrey;
  color: white;
  transform: translateX(2px);
}

.edit-merchant:hover {
    background-color: darkgrey;
    color: white;
    transform: translateX(2px);
}

.delete-merchant:hover {
  background-color: darkgrey;
  color: white;
  transform: translateX(2px);
}

.view-items-button {
  padding: 5px;
  margin-right: 10px;
}

.merchant-name {
  padding-left: 10px;
  margin: 0px;
}

.display-options {
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-options > button {
  margin-left: 15px;
  cursor: pointer;
}

.submit:hover {
  background-color: darkgrey;
  color: white;
  transform: translateX(2px);
}

.submit-merchant-edits:hover {
  background-color: darkgrey;
  color: white;
  transform: translateX(2px);
}

.discard-merchant-edits:hover {
  background-color: darkgrey;
  color: white;
  transform: translateX(2px);
}

.success {
  color: green;
}

.fail {
  color: red;
}

/* HIDDEN ELEMENTS */

.hidden {
  display: none;
} 